:root {
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Titillium Web', serif;
    --color1: #A4243B;
    --color2: #D8C99B;
    --color3: #D8973C;
    --color4: #BD632F;
    --color5: #273E47;
}