:root {
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Titillium Web', serif;
    --color1: #A4243B;
    --color2: #D8C99B;
    --color3: #D8973C;
    --color4: #BD632F;
    --color5: #273E47;
}

/**Body**/
body {
    max-width: 1200px;
    margin: 0 auto;
}

/**Header**/
header {
    background-color: var(--color5);
    color: white;
    padding: 10px;
    text-align: center;
}

/**Main**/
main {
    background-color: var(--color2);
}

h1, h2 {
    font-family: var(--heading-font);
}

h2 {
    text-align: center;
    padding: 5px;
    background-color: var(--color3);
}

.color {
    text-align: center;
}

p {
    text-align: center;
    font-weight: 600;
    font-family: var(--paragraph-font);
}

img {
    max-width: 400px;
}

.wireframe {
    display: grid;
    justify-content: center;
}

/**Footer**/
footer {
    background-color: var(--color5);
    color: white;
    padding: 10px;
}