:root {
    --color-1: #4C5760;
    --color-2: #93A8AC;
    --color-3: #D7CEB2;
    --color-4: #A59E8C;
    --color-5: #66635B;
}

* {
    margin: 0;
    padding: 0;
}

h3 {
    padding: 1rem;
}

header {
    background-color: var(--color-2);
}


.menu {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: large;
    background-color: var(--color-3);
    height: 75px;
    align-items: center;
}

.menu a {
    color: black;
}

a {
    text-decoration: none;
}

main {
    display: grid;
    height: 400px;
    grid-template-columns: 2fr 1fr;
    margin: 0;
}

.main_content {
    background-color: var(--color-2);
} 

.aside_content {
    background-color: var(--color-4);
}

footer {
    background-color: var(--color-3);
    height: 200px;
    font-size: larger;
    text-align: center;
    padding: 1rem;
}
