/*Root*/
* {
    max-width: 1200px;
    margin: auto;
}

/*Body*/


/*Header*/
header {
    background-color: darkblue;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    
}

/*Main*/
form {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: left;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.checkboxes {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.rating-label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

label {
    padding: 5px;
}

/*Footer*/
footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 5px;
}