/*Root*/
* {
    max-width: 1200px;
    margin: auto;
}

:root {
    --heading-font: 'Playfair Display', serif;
}

/*Body*/

body {
    font-family: 'Titillium Web', sans-serif;
}

/*Header*/

h1 {
    font-family: var(--heading-font);
}

header {
    background-color: darkblue;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;   
}

/*Main*/
form {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: left;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.checkboxes {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.rating-label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

label {
    margin: 1px;
}

#pName {
    max-width: 500px;
    width: 100%;
    margin-bottom: 15px;
}

#name {
    max-width: 500px;
    width: 100%;
}

#installDate {
    max-width: 500px;
    width: 100%;
    margin-bottom: 15px;
}

textarea {
    margin-bottom: 15px;
}

.review {
    margin-top: 15px;
}

/*Footer*/
footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 5px;
}