* {
    text-decoration: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

header {
    background-color: #004643;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200;
    margin: 1rem auto;
    padding: 5px;
}

header h1 {
    color: white;
}

nav {
    display: flex;
    gap: 1rem;
    font-size: large;  
}

nav a{
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

header, main, footer {
    max-width: 1200px;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 5px;
}

figcaption {
    text-align: center;
}

h2 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

img {
    max-width: 300px;
}

footer {
    justify-content: center;
    text-align: center;
    background-color: #004643;
}

footer p{
    color: white;
}